<% provide :title, t(".base_title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".subtitle" %> <%= link_to t(".content_href_help"),
  Settings.help.rails_help_href %> <%= t ".subtitle_more" %>
  <%= link_to t(".content_href_book"), Settings.help.rails_book_href %>
  <em><%= t ".em" %></em>
</p>
<p><%= t ".test_language" %> <%= t "hello" %></p>
